:root {
  --vp-c-brand: #4f46e5;
  --vp-c-brand-light: #6366f1;
  --vp-c-brand-lighter: #818cf8;
  --vp-c-brand-dark: #4338ca;
  --vp-c-brand-darker: #3730a3;
}

.vp-doc h1 {
  font-size: 2.6em;
  font-weight: 600;
}

.vp-doc h2 {
  border-top: none;
  margin-top: 2rem;
}

.vp-doc a {
  font-weight: 500;
  text-decoration: none;
}

.vp-doc a:hover {
  text-decoration: underline;
}

.vp-doc table {
  width: 100%;
  margin: 1em 0;
}

.vp-doc tr:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}

.VPDoc.has-aside .content-container {
  max-width: 100%;
}

.VPDoc .content {
  padding: 32px;
  background-color: var(--vp-c-bg);
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

.dark .VPDoc .content {
  background-color: var(--vp-c-bg-soft);
}

.VPNavBar.has-sidebar .content {
  background-color: transparent;
  box-shadow: none;
}

.VPSidebar {
  padding: 32px 24px;
}

.VPNavBar {
  border-bottom: 1px solid var(--vp-c-divider);
}

.VPNavBar.has-sidebar {
  border-bottom: none;
} 